<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>GPS Tracking Application</display-name>
  
  <!-- Servlet Definitions -->
  <servlet>
    <servlet-name>servletTest</servlet-name>
    <servlet-class>com.gpstracker.servlet.test.ServletTest</servlet-class>
  </servlet>
  
  <!-- Servlet Mapping Section -->
  <servlet-mapping>
    <servlet-name>servletTest</servlet-name>
    <url-pattern>/servletTest</url-pattern>
  </servlet-mapping>
</web-app>