<web-app id="WebApp_ID" version="2.4" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 
    <display-name>GPS Tracker Web Service</display-name>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/config/spring/WebserviceApplicationContext.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>gpsTrackerService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSSpringServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet-mapping>
		<servlet-name>gpsTrackerService</servlet-name> 
		<url-pattern>/wsUserRegistration</url-pattern>
		<url-pattern>/wsUserLogin</url-pattern>
		<url-pattern>/wsUserRegisterLocation</url-pattern>
		<url-pattern>/wsUserLocationHistory</url-pattern>
	</servlet-mapping>
 
    <!-- Register Spring Listener -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

</web-app>